<div id="footer">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6 col-sm-6 col-xs-12">
	            <ul>       
	            	{{#nav-link-to 'privacy-policy'}}Privacy Policy{{/nav-link-to}}
	            	{{#nav-link-to 'terms-of-use'}}Terms of use{{/nav-link-to}}	    
	                <li><a href="#">Sitemap</a></li>
	                <li><a href="#">Mobile Site</a></li>
	            </ul>
	        </div>
	        <div class="col md-6 col-sm-6 col-xs-12">
	            <ul class="white">
                	{{#nav-link-to 'about'}}About{{/nav-link-to}}
	                <li><a href="#">Blog</a></li>
	                <li><a href="#">Careers</a></li>
	                <li><a href="#">Press</a></li>
	                <li><a href="#">Advertise</a></li>
	            </ul>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12">
	            <p>Copyright © 2016 All rights reserved.</p>
	        </div>
	    </div>
	</div>
</div>