<div id="footer">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6 col-sm-6 col-xs-12">
	            <ul>       
	            	{{#nav-link-to 'privacy-policy'}}Privacy Policy{{/nav-link-to}}
	            	{{#nav-link-to 'terms-of-use'}}Terms of use{{/nav-link-to}}	    
	            </ul>
	        </div>
	        <div class="col md-6 col-sm-6 col-xs-12">
	            <ul class="white">
                	{{#nav-link-to 'about'}}About{{/nav-link-to}}
	            </ul>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12">
	            <p>Copyright © 2017	 All rights reserved.</p>
	        </div>
	    </div>
	</div>
</div>