<div class="container" id="normal-container">
   <div class="row">
	{{#if hasError}}
	  <div class="alert alert-danger"> 
	    <span>This email doesn't seem to be in our database.</span>
	  </div>   
	{{/if}}

      <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6 page-title v-align-center">
                Forgot password
            </div><!--
         --><div class="col-md-4 col-sm-4 col-xs-6 page-subtitle v-align-center">
                    {{#link-to 'login'}}Login{{/link-to}}
            </div>
          </div>
          <div class="row">
			<form class="col-md-12" {{action "forgot" on='submit'}}>   
			{{#unless complete}}                                         
			  <div class="form-group">
			  	{{validated-input type="email" model=this placeholder="Your email" valuePath="email"}}
			  </div>			                                 
			  
			  <button type="submit" class="btn btn-primary">Reset password</button>
			{{/unless}}

			{{#if complete}}
			  <p class="form-result">An e-mail with further instructions has been sent to you.</p>
			{{/if}} 
			</form>
          </div>
       </div>
       
   </div>
   
</div>