{{admin-nav-bar addShown=false}}

{{admin-restaurant-nav-bar}}

<div class="row">
	<div class="col-md-12">
		<div class="card padded">
			<div class="content" style="margin-top: 0px;">
			
			</div>
		</div>
	</div>
</div>

