<div class="row">
	<div class="col-md-12">
		<div class="card admin-container" style="box-shadow: none; border: 1px solid #ddd;">
			<div class="content" style="margin-top: 0px;">
				<ul class="admin-nav-bar smaller">
					{{#nav-link-to 'admin.restaurants.new.index'}}Basic Details{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.new.menu'}}Menu{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.new.gallery'}}Gallery{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.new.tables'}}Tables{{/nav-link-to}}
				</ul>
			</div>
		</div>
	</div>
</div>
