<div class="row">
	<div class="col-md-12">
		<div class="card admin-container" style="box-shadow: none; border: 1px solid #ddd;">
			<div class="content" style="margin-top: 0px;">
				<ul class="admin-nav-bar smaller">
					{{#nav-link-to 'admin.restaurants.edit.index' new.restaurant.id}}Basic Details{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.edit.menu' new.restaurant.id}}Menu{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.edit.gallery' new.restaurant.id}}Gallery{{/nav-link-to}}
					{{#nav-link-to 'admin.restaurants.edit.tables' new.restaurant.id}}Tables{{/nav-link-to}}
				</ul>
			</div>
		</div>
	</div>
</div>
