<nav class="navbar {{navbarClass}}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}Restaurants{{/link-to}}
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                {{#nav-link-to 'index'}}Index{{/nav-link-to}}

                {{#if session.isAuthenticated}}
                    {{#nav-link-to 'my-reservations' }} My Reservations {{/nav-link-to}}
                    {{#nav-link-to 'logout' }} Logout {{/nav-link-to}}
                    {{#if (eq currentUser.role "ADMIN")}}                        
                        {{#nav-link-to 'admin' }} Admin {{/nav-link-to}}
                    {{/if}}
                {{else}}
                    {{#nav-link-to 'login'}}Login{{/nav-link-to}}
                {{/if}}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>