<div class="modal fade" id="rateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-remove" aria-hidden="true"></span></button>

        <p class="title">Rate this place</p>

        {{star-rating item=review rating=review.rating on-click=(action (action starClickedAction)) fullClassNames='fa fa-star' emptyClassNames='fa fa-star'}}

        {{textarea class="review" value=review.description}}

        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action (action rateAction) }}>Save</button>
      </div>
    </div>
  </div>
</div>